* {
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(50, 1rem);
  justify-content: center;
  align-items: center;
}
.grid-cell {
  height: 1rem;
  width: 1rem;
  border: 1px solid #000000;
  cursor: pointer;
}
