@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");

* {
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-title-container {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b9b9b9;
  font-family: "Signika", "Montserrat", monospace;
  font-size: 5rem;
  font-weight: bolder;
  background-color: transparent;
  margin-bottom: 0rem;
}
.logo {
  height: 12rem;
  margin: 2rem 2rem;
}
.main-body-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.instructions {
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}
.instructions h1 {
  color: #b9b9b9;
  font-family: "Signika";
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.instructions p {
  color: rgb(206, 206, 206);
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.instructions a {
  text-decoration: none;
  color: rgb(110, 146, 187);
}
.instructions a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: 500ms;
  padding: 0.5rem;
}
.instructions li {
  text-align: center;
  color: rgb(231, 231, 231);
  font-family: monospace;
  font-size: 0.81rem;
  margin-bottom: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(50, 1rem);
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(139, 139, 139);
  max-height: 51rem;
  max-width: 51rem;
}
.grid-cell {
  height: 1rem;
  width: 1rem;
  border: 1px solid #666666;
  cursor: pointer;
}

.options {
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}
.option-button {
  cursor: pointer;
  padding: 1rem 3rem;
  width: 25rem;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px dashed white;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}
.option-button:hover {
  background-color: #af001d;
  color: black;
  transition: 500ms;
}
.options-tray {
  display: flex;
  justify-content: space-evenly;
}
.option-tray-button {
  cursor: pointer;
  padding: 1rem 1rem;
  width: fit-content;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px dashed white;
  border-radius: 0.5rem;
  margin: 2rem 0.5rem;
}
.reset-button:hover {
  background-color: #af001d;
  color: black;
  transition: 500ms;
}
.random-button:hover {
  background-color: #adcc00;
  color: rgb(0, 0, 0);
  transition: 500ms;
}
.infinite-button:hover {
  background-color: #0018f5;
  color: black;
  transition: 500ms;
}

.simulation-speed {
  margin: 1rem 0rem;
}
.simulation-speed label {
  font-family: "Monstserrat", monospace;
  font-size: 1rem;
  margin: 1rem;
  color: aquamarine;
}
.simulation-speed input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.simulation-speed input::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgb(151, 151, 151);
  height: 0.3rem;
}
.simulation-speed input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(54, 54, 54);
  height: 18px;
  width: 18px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: -8px;
}

.simulation-speed input::-moz-range-track {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(151, 151, 151);
  height: 0.3rem;
}

.simulation-speed input::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(54, 54, 54);
  height: 18px;
  width: 18px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: -8px;
}

.attributions {
  display: none;
}
