/*
***** dark THEMES******
*/
.preview-container-dark {
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  justify-items: center;
}
.preview-grid-container-dark {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}
.carousel-button-dark {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 1000;
  background-color: rgb(26, 26, 26);
  border: 5px solid black;
  color: white;
  margin: 0rem 0.2rem;
  cursor: pointer;
}
.carousel-button-dark:hover {
  background-color: #af001d;
  color: black;
  transition: 500ms;
}

.preview-grid-dark {
  min-height: 20rem;
  min-width: 20rem;
  max-height: 20rem;
  max-width: 20rem;
  background-color: transparent;
  border: 3px solid rgb(122, 122, 122);
  display: grid;
}

.preview-grid-cell-dark {
  border: 2px solid #000000;
}

.load-organism-button-dark {
  cursor: pointer;
  padding: 0.5rem 1rem;
  max-width: 7rem;
  max-height: 4rem;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px dashed white;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}

.load-organism-button-dark:hover {
  background-color: #9daf00;
  color: black;
  transition: 500ms;
}
.info-entry-dark {
  margin-bottom: 0.2rem;
}
.info-title-dark {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(211, 211, 211);
}
.info-content-dark {
  font-size: 1rem;

  color: rgb(255, 255, 255);
}

/*
***** light THEMES******
*/
.preview-container-light {
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  justify-items: center;
  background-color: white;
}
.preview-grid-container-light {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}
.carousel-button-light {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 1000;
  background-color: rgb(231, 231, 231);
  border: 5px solid rgb(0, 0, 0);
  color: black;
  margin: 0rem 0.2rem;
  cursor: pointer;
}
.carousel-button-light:hover {
  background-color: #af001d;
  color: black;
  transition: 500ms;
}

.preview-grid-light {
  min-height: 20rem;
  min-width: 20rem;
  max-height: 20rem;
  max-width: 20rem;
  background-color: transparent;
  border: 3px solid rgb(122, 122, 122);
  display: grid;
}

.preview-grid-cell-light {
  border: 2px solid #000000;
}

.load-organism-button-light {
  cursor: pointer;
  padding: 0.5rem 1rem;
  max-width: 7rem;
  max-height: 4rem;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}

.load-organism-button-light:hover {
  background-color: #9daf00;
  color: black;
  transition: 500ms;
}
.info-entry-light {
  margin-bottom: 0.2rem;
}
.info-title-light {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(56, 56, 56);
}
.info-content-light {
  font-size: 1rem;

  color: rgb(0, 0, 0);
}
