/*
***** dark THEMES******
*/
.App-dark .preview-container {
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  justify-items: center;
}
.App-dark .preview-grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}
.App-dark .carousel-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 1000;
  background-color: rgb(26, 26, 26);
  border: 5px solid black;
  color: white;
  margin: 0rem 0.2rem;
  cursor: pointer;
}
.App-dark .carousel-button :hover {
  background-color: #af001d;
  color: black;
  transition: 500ms;
}

.App-dark .preview-grid {
  min-height: 20rem;
  min-width: 20rem;
  max-height: 20rem;
  max-width: 20rem;
  background-color: transparent;
  border: 3px solid rgb(122, 122, 122);
  display: grid;
}

.App-dark .preview-grid-cell {
  border: 1px solid #000000;
}

.App-dark .load-organism-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  max-width: 7rem;
  max-height: 4rem;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px dashed white;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}

.App-dark .load-organism-button :hover {
  background-color: #9daf00;
  color: black;
  transition: 500ms;
}
.App-dark .info-entry {
  margin-bottom: 0.2rem;
}
.App-dark .info-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(211, 211, 211);
}
.App-dark .info-content {
  font-size: 1rem;

  color: rgb(255, 255, 255);
}

/*
***** light THEMES******
*/
.App-light .preview-container {
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  justify-items: center;
}
.App-light .preview-grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}
.App-light .carousel-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 1000;
  background-color: #b4b4b4;
  border: 5px solid rgb(0, 0, 0);
  color: black;
  margin: 0rem 0.2rem;
  cursor: pointer;
}
.App-light .carousel-button :hover {
  background-color: #af001d;
  color: black;
  transition: 500ms;
}

.App-light .preview-grid {
  min-height: 20rem;
  min-width: 20rem;
  max-height: 20rem;
  max-width: 20rem;
  background-color: transparent;
  border: 3px solid rgb(122, 122, 122);
  display: grid;
}

.App-light .preview-grid-cell {
  border: 1px solid #000000;
}

.App-light .load-organism-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  max-width: 7rem;
  max-height: 4rem;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: #b4b4b4;
  color: rgb(0, 0, 0);
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
}

.App-light .load-organism-button :hover {
  background-color: #9daf00;
  color: black;
  transition: 500ms;
}
.App-light .info-entry {
  margin-bottom: 0.2rem;
}
.App-light .info-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(56, 56, 56);
}
.App-light .info-content {
  font-size: 1rem;

  color: rgb(0, 0, 0);
}
